<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Agregar Ingreso / Egreso</h4>
                <p class="card-description">
                    Especifique el monto y el tipo
                </p>

                <form [formGroup]="ingresoFomr" (ngSubmit)="guardar()" >

                    <div class="form-group">
                        <label>Descripción</label>
                        <input autocomplete="off" type="text" class="form-control" placeholder="Descripción" name="descripcion" formControlName="descripcion">
                    </div>

                    <div class="form-group">
                        <label>Monto</label>
                        <input type="number" class="form-control" placeholder="Monto" name="monto" formControlName="monto" >
                        <p>
                            Debe de ser un monto positivo
                        </p>
                    </div>

                    <div class="form-group">
                        <label>Tipo</label>
                        <br>
                        <button *ngIf="tipo === 'Ingreso' " type="button" (click)=" tipo = 'Egreso' " class="btn btn-primary btn-block">{{ tipo }}</button>
                        <button *ngIf="tipo === 'Egreso' " type="button" (click)=" tipo = 'Ingreso' " class="btn btn-warning btn-block">{{ tipo }} </button>
                    </div>

                    <hr>
                    <button type="submit" class="btn btn-success mr-2" [disabled]="ingresoFomr.invalid || loading" >
                        <i class="fa fa-save" *ngIf="!loading "></i>
                        <li class="fa fa-spin fa-sync" *ngIf="loading"></li>
                        {{ (!loading) ? 'Agregar' : 'Guardando...' }}
                    </button>

                    <!-- 
                <button disabled class="btn btn-success mr-2">
                  <i class="fa fa-spin fa-sync"></i>
                  Espere por favor...
                </button> 
              -->

                    <button type="reset" class="btn btn-light">Cancelar</button>

                </form>
            </div>
        </div>
    </div>
</div>